<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script th:src="@{js/main.js}" src="../static/js/main.js"></script>
  </body>
</head>
<body>

	<div class="container">
		<div class="jumbotron">
			<h1>Paginación con SpringBoot</h1>
		</div>	
		<button class="btn btn-success nBtn">New</button>
		<div class="card">
			<div class="card-block">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>COUNTRY</th>
							<th>CAPITAL</th>
							<th>ACTION</th>
						</tr>	
					</thead>
					<tbody>
						<tr th:each="country :${data.content}">
							<td th:text="${country.id}"></td>
							<td th:text="${country.name}"></td>
							<td th:text="${country.capital}"></td>
							<td>
								<a th:href="@{/delete/(id=${country.id})}" class="btn btn-danger dBtn">Delete</a>
								<a th:href="@{/findOne/(id=${country.id})}" class="btn btn-primary eBtn">Edit</a>
							</td>
						</tr>	
					</tbody>
				</table>
				<hr>
			</div>
			<div>
				<ul class="nav nav-pills  nav-justified">
					<li class="nav-item" th:each="i :${#numbers.sequence(0,data.totalPages-1)}">
						<a th:href="@{/(page=${i})}" th:text="${i}" class="nav-link" th:classappend="${currentPage}==${i}?'active':''"></a>
					</li>	
				</ul>
			</div>
		</div>

		
		<div class="myForm">
		 <form th:action="@{/save}" th:object="${country}" method="post">
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Update or Create</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			          <div class="form-group">
			            <label for="id" class="col-form-label">Id:</label>
			            <input type="text" class="form-control" id="id" name="id" th:value="*{''}" disabled/>
			          </div>
			          <div class="form-group">
			            <label for="name" class="col-form-label">Name:</label>
			            <input type="text" class="form-control" id="name" name="name" th:value="*{''}"/>
			          </div>
			          <div class="form-group">
			            <label for="capital" class="col-form-label">Capital:</label>
			            <input type="text" class="form-control" id="capital" name="capital" th:value="*{''}"/>
			          </div>			          
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <input type="submit" class="btn btn-primary" data-dismiss="modal" value="Save"/>
			      </div>
			    </div>
			  </div>
			</div>
			</form>
		</div>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      <p class="alert alert-danger">Are you sure you want to delete this?</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <a href="" class="btn btn-danger" id="delRef">Delete</a>
		      </div>
		    </div>
		  </div>
		</div>
	</div>


</body>
</html>